body{
    margin:0;
    background:#111;
    color:white;
    font-family:sans-serif;
}

#game{
    max-width:900px;
    margin:auto;
    padding:20px;
}

#title{
    text-align:center;
    margin-top:40px;
    font-size:42px;
}

#subtitle{
    text-align:center;
    color:#888;
    margin-bottom:30px;
}

#text-box{
    border:1px solid #444;
    background:#181818;
    min-height:180px;
    padding:25px;
    margin-bottom:20px;
}

#speaker{
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
}

#text{
    white-space:pre-line;
    font-size:22px;
    line-height:1.8;
}

#choices button,
#menu button,
#controls button{
    width:100%;
    padding:20px;
    margin:8px 0;
    border:none;
    background:#222;
    color:white;
    font-size:24px;
}

#choices button:hover,
#menu button:hover,
#controls button:hover{
    background:#333;
}

#map{
    width:400px;
    height:400px;
    margin:40px auto;
    border:3px solid white;
    position:relative;
    background:#222;
    overflow:hidden;
}

#player{
    position:absolute;
    left:180px;
    top:180px;
    font-size:28px;
    transition:0.15s;
}

.map-object{
    position:absolute;
    font-size:40px;
}

#controls{
    margin-top:20px;
    text-align:center;
}

#controls div{
    display:flex;
    gap:10px;
}

#controls div button{
    flex:1;
}

@media(max-width:600px){

    #title{
        font-size:30px;
    }

    #text{
        font-size:18px;
    }

    #speaker{
        font-size:22px;
    }

    #map{
        width:320px;
        height:320px;
    }
}
