body{
    margin:0;
    background:#111;
    color:white;
    font-family:sans-serif;
}

#game{
    max-width:900px;
    margin:auto;
    padding:20px;
}

#title{
    text-align:center;
    margin-top:40px;
    font-size:42px;
}

#subtitle{
    text-align:center;
    color:#888;
    margin-bottom:30px;
}

#text-box{
    min-height:220px;
    border:1px solid #444;
    padding:20px;
    margin-bottom:20px;
    background:#1b1b1b;
}

#speaker{
    font-weight:bold;
    margin-bottom:10px;
}

#text{
    white-space:pre-line;
    line-height:1.8;
    font-size:18px;
}

button{
    width:100%;
    padding:15px;
    margin-top:10px;
    font-size:18px;
    background:#222;
    color:white;
    border:none;
}

button:hover{
    background:#333;
}

#menu{
    margin-top:20px;
}
#map{

    position:relative;

    width:320px;
    height:320px;

    border:2px solid white;

    margin:auto;

    background:#222;
}

#player{

    position:absolute;

    left:140px;
    top:140px;

    font-size:32px;
}

.map-object{

    position:absolute;

    font-size:32px;
}

#controls{

    margin-top:20px;

    text-align:center;
}
